@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #F4F6F9;
    width: 100%;
}

@media  (max-width:720px) {
    body {
        max-width: 70%;
    }
    
}




/* HEADER */

header {
    width: 100%;
    height: 665px;
    background: #F4F6F9;
    display: flex;
    flex-direction: row; 
}

.HeaderBlock1 {
    display: flex;
    flex-direction: column;
    margin-left: 163px;
    margin-top: 61px;  
}

.Sports {
    color: #5282F0;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
}

.HeaderTitle1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #333333;
    margin-top: 133px;
    width: 100%;
}

.HeaderTitle2 {
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    font-weight: 400;
    margin-top: 33px;
}

.HeaderSocials {
    margin-top: 50px;
    cursor: pointer;
}

@media  (max-width:720px) {
    
    header {
        width: 100%;
    }

    .HeaderBlock1 {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        text-align: center;
    }

    .HeaderTitle1 {
        width: 100%;
    }

    .HeaderTitle2 {
        width: 90%;
        text-align: center;
    }

    
    .BLock1SVG {
        margin-left: 131px;
    }

    .HeaderSocials {
        display: flex;
        flex-direction: row;
        margin-left: 20px;
    }

    .HeaderDevices {
        display: none;
    }
}




 main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}





.MainBlock1 {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    margin-top: 0px;
    height: 592px;
    width: 100%;
}

.Block1Text {
    margin-top: 133px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.Block1-1 {
    color: #00ADEE;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.Block1-2 {
    margin-top: 27px;
    color: #333333;
    font-size: 28px;
    line-height: 37px;
    font-weight: 700;
}

.Block1-3 {
    margin-top: 27px;
    width: 407px;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 23px;
}

@media  (max-width:720px) {
    .Block1-3 {
        width: 90%;
    }
}

.Block1-4 {
    
    color: #00ADEE;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}   

.Block1Images {
    width: 805px;
    height: 592px;
    background: url('IMG/Picture1.png'), no-repeat;
    position: relative;
}

.Image1 {
    
    z-index: 0;
    margin-top: 296px;
    margin-left: 270px;
    box-shadow: 0px 0px 15px 10px rgb(194, 191, 191);
}

@media  (max-width:720px) {
    .Image1 {
        margin-left: 92px;
        width: 70%;

    }


}

.Image2 {
    
    z-index: 1;
    position: absolute;
    margin-top: 85px;
    margin-left: -530px;
}

@media  (max-width:720px) {

.MainBlock1 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 300px;
    margin-left: 40px;
    text-align: center;
}

.Block1Images {
    margin-top: 22px;
    width: 388px;
    height: 360px;
    position: relative;

}



.Image2 {
    
    width: 70%;
    margin-left: 20px;
    position: absolute;

}

}


.MainBlock2 {
    display: flex;
    flex-direction: row;
    background: url('IMG/BackgroundBlock2.png');
    width: 100%;
    height: 716px;
    margin-top: 0px;
}

@media (max-width:720px) {

    
}

.Block2text {
    display: flex;
    flex-direction: column;
    margin-top: 217px;
    margin-left: 162px;
}

.Block2-1 {
    color: #00ADEE;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.Block2-2 {
    margin-top: 27px;
    color: #333333;
    font-size: 28px;
    line-height: 37px;
    font-weight: 700;
}

.Block2-3 {
    margin-top: 27px;
    width: 492px;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 23px;

    
}

@media (max-width:720px) {
    .Block2-3 {
        width: 100%;
    }
}

.Block2-4 {
    text-decoration: none;
    color: #00ADEE;
    font-size: 16px;
    font-weight: 700;
}




.MainBlock3 {
    width: 100%;
    height: 745px;
    background: url('IMG/BackgroundBlock3.png');
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

@media (max-width:720px) {

    
}

.Block3text {
    margin-top: 76px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.Block3-1Grid {
    display: grid;
    grid-template-columns: 311px 311px 311px;
    grid-template-rows: 162px 162px 162px;
    column-gap: 90px;
    row-gap: 42px;
    margin-top: 55px;
    margin-left: 164px;
}

.GridAll {
    width: 311px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}





.MainBlock4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 431px;
    color: #333333;
    background: #FFFFFF;
}

@media (max-width:720px) {

    
}

.Block4text {
    text-align: center;
    margin-top: 68px;
    font-size: 28px;
    font-weight: 700;
}

.Block4Img {
    margin-top: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Block4Dots {
    width: 143px;
    height: 11px;
    margin-top: 47px;
    margin-left: 649px;
}

.MainBlock5 { 
    width: 100%;
    height: 278px;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:720px) {

    
}

.Block5text {
    margin-top: 57px;
    font-size: 28px;
    font-weight: 700;
}

.Block5Banners {
    margin-top: 60px;
}

.MainBlock6 {
    width: 100%;
    height: 483px;
    display: flex;
    flex-direction: row;
}

@media (max-width:720px) {

    

}



.Block6Banner {
    display: flex;
    flex-direction: column;
    margin-top: 105px;
    margin-left: 77px;
}

.Block6text {
    font-size: 28px;
    font-weight: 700;
}

.Block6Par {
    font-size: 16px;
    line-height: 25px;
    width: 535px;
    margin-top: 38px;
    color: #4F4F4F;
    font-weight: 400;
}

.Block6Soc {
    margin-top: 39px;
    cursor: pointer;
}



footer {
    width: 100%;
    height: 127px;
    background: #00ADEE;
    display: flex;
    flex-direction: column;
    
}

@media (max-width:720px) {

    
}

.FooterBlock {
    display: flex;
    flex-direction: row;
    margin-left: 163px;
    margin-top: 48px;
}

.FooterLinks {
    margin-top: 11px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
}

.FooterLinks:hover {
    color: red;
}

.FooterSocials {
    margin-left: 261px;
    margin-top: 5px;
    cursor: pointer;
} 
