@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #F4F6F9;
    max-width: 1440px;
}

/* HEADER */

header {
    width: 1440px;
    height: 665px;
    background: #F4F6F9;
    display: flex;
    flex-direction: row; 
}

.HeaderBlock1 {
    display: flex;
    flex-direction: column;
    margin-left: 163px;
    margin-top: 61px;  
}

.Sports {
    color: #5282F0;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
}

.HeaderTitle1 {
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #333333;
    margin-top: 133px;
    width: 130%;
}

.HeaderTitle2 {
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    font-weight: 400;
    margin-top: 33px;
}

.HeaderSocials {
    margin-top: 50px;
    cursor: pointer;
    
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* MAIN BLOCK-1 */

.MainBlock1 {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    margin-top: 0px;
    height: 592px;
}

.Block1-1 {
    margin-top: 133px;
    color: #00ADEE;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.Block1-2 {
    margin-top: 27px;
    color: #333333;
    font-size: 28px;
    line-height: 37px;
    font-weight: 700;
}

.Block1-3 {
    margin-top: 27px;
    width: 407px;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 23px;
}

.Block1-4 {
    text-decoration: none;
    color: #00ADEE;
    font-size: 16px;
    font-weight: 700;
}

.Block1Images {
    width: 805px;
    height: 592px;
    background: url('IMG/Picture1.png'), no-repeat;
    position: relative;
}

.Image1 {
    z-index: 0;
    margin-top: 296px;
    margin-left: 270px;
    box-shadow: 0px 0px 15px 10px rgb(194, 191, 191);
}

.Image2 {
    z-index: 1;
    position: absolute;
    margin-top: 85px;
    margin-left: -530px;
}

/* MAIN BLOCK-2 */

.MainBlock2 {
    display: flex;
    flex-direction: row;
    background: url('IMG/BackgroundBlock2.png');
    width: 1440px;
    height: 716px;
    margin-top: 0px;
}

.Block2text {
    display: flex;
    flex-direction: column;
    margin-top: 217px;
    margin-left: 162px;
}

.Block2-1 {
    color: #00ADEE;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
}

.Block2-2 {
    margin-top: 27px;
    color: #333333;
    font-size: 28px;
    line-height: 37px;
    font-weight: 700;
}

.Block2-3 {
    margin-top: 27px;
    width: 492px;
    color: #4F4F4F;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 23px;
}

.Block2-4 {
    text-decoration: none;
    color: #00ADEE;
    font-size: 16px;
    font-weight: 700;
}

/* MAIN BLOCK-3 */ 

.MainBlock3 {
    width: 1440px;
    height: 735px;
    background: url('IMG/BackgroundBlock3.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.Block3text {
    margin-top: 76px;
    font-size: 28px;
    font-weight: 700;
}

.Block3-1Grid {
    grid-template-columns: ;
    grid-template-rows: ;
}